/*
 * @Author: ljh 277841643@qq.com
 * @Date: 2022-08-08 17:59:47
 * @LastEditors: ljh 277841643@qq.com
 * @LastEditTime: 2022-08-08 18:42:44
 * @FilePath: /my-mini-vue/.gitignore
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
.DS_Store
**/node_modules
*/dist/
npm-debug.log